<div class="container">
  <div class="welcome-message">
    <h1>Welcome to our Bookstore!</h1>
    <h2>You can find all books <a href="<%= books_path %>">here</a>.</h2>
    <h2>You can find all genres <a href="<%= genres_path %>">here</a> as well.</h2>
  </div>
</div>
